*{
    padding: 0px;
    margin: 0px;

}

.header{
    height: 90px;
    width: 100%;
    /* background-color: rgba(18, 209, 216, 0.5); */
    color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    
}


.container{
    width: 90%;
    display: flex;
}

.logo{
    height: 90px;
    width: 15%;
    /*background-color: beige;*/
    font-size: 40px;
    font-family: Segoe UI;
    text-align: center;
    font-weight: bold;
    line-height: 60px;


}


.nav{
    height: 90px;
    width: 35%;
     /*background-color: bisque;*/
    display: flex;

}

.header_container{
    justify-content: space-between;
}

.nav-item{
       width: 20%;
       height: 90px;
      /* background-color: gray;*/
      /* background-color: white;*/
       font-family: Segoe UI;
       text-align: center;
       line-height: 90px;
       font-weight: 100;
       color:white;
       cursor: pointer;
       text-transform: capitalize;
       transition: .4s;
       
}

.nav-item:hover{
    background-color: white;
   
    color:rgb(0, 174, 255);
}

.banner{
    height: 95hv;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80https://unsplash.com/photos/SYTO3xs06fU);
    background-size: cover;
}

.overlay{
    height: 95vh;
    width: 100%;
    background-color: rgba(8, 0, 0, .7);
    display: flex;
    align-items: center;
}

.banner_text{
    height: 350px;
    width: 50%;
    background-color:  rgba(18, 209, 216, 0.5);
    font-family: Segoe UI;
    display: flex;
    align-items: center;
    color: aliceblue;
}

.pad{
    padding: 50px;
    /* background-color: black;  */
}

.banner_h1{
    font-size: 50px;
    margin-bottom: 15px;
    
}

.banner_p{
    margin-bottom:30px;
}

.btn_all{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    background-color: transparent;
    font-family: Segoe UI;
    color: aliceblue;
    font-weight: bold;
    border: 3px solid white;
    cursor: pointer;
    transition: .4s;

}

.btn_all:hover{
    background-color: aliceblue;
    color:  rgba(18, 209, 216, 1);
     
}



/* CSS for services */
.services{
   padding-bottom: 50px;
    padding-top: 50px;
    background-color:#8080807d;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Segoe UI;
}

.services_container{
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service{
    height: 400px;
    width: 47%;
    background-color: white;
    display: flex;
    margin-top: 20px;
}

.service_img{
  width: 40%;
  height: 400px;
  /* background-color: red; */
  display: flex;
  /* margin-right: 5%; */
  overflow: hidden; 
  /* background: cover; */
}

.service_details{
       width: 60%;
       height: 400px; 
       /* background-color:white; */
       display: flex;
       align-items: center;

       /* flex-direction: column; */
}

.ser_padd{
    padding: 20px;
}

.service_h1{
    margin-bottom: 15px;
}

.service_p{
   margin-bottom: 15px;

}

.service_btn{
    background-color:#8080807d;
    color: black;
    margin: 20px;
} 


/* css for about */

.about{
    padding-top: 50px;
    padding-bottom: 5opx;
    /* background-color: rgb(158, 21, 21); */
    display: flex;
    flex-direction: column;
    font-family: Segoe UI;
    align-items: center;
}



.about_container{
    margin-top: 30px;
    margin-bottom: 30px;
    /* background-color: aqua; */
    line-height: 25px;
}

.about_p{
    font-size: 40px;
    font-weight: bold;
    color:gray;
}

/* CSS for highlights */

.highlights{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(18, 209, 216, 0.7);
    width: 100%;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.highlight_container{
    justify-content: space-between;
}

.high_ele{
    width: 22%;
    height: 230px;
    background-color:  rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Segoe UI;
    text-align: center;
    

}

.high_ele:hover{
    color:black;
    background-color: aliceblue;
    
}

.high_ele h1{
    font-size: 50px;
   
}

.high_ele p{
    font-size: 25px;
}


/* CSS for quote */
.quote{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    font-family: Segoe UI;
}

.quote_contanier{
    flex-direction: column;
    align-items: center;

}

.quote h1{
    font-size: 50px;
    margin-bottom: 20px;
}

/* h1:hover{
      transition: 1s;
      color: rgb(61, 43, 226);
      text-decoration:underline;
      text-transform: uppercase;
      overflow: hidden;

} */

.btn_quote{
    color: white;
    background-color: aqua;
    border: 3px solid ;
}

/* CSS for port */

.port{
    /* padding-bottom: 50px; */
    /* padding-top: 50px; */
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Segoe UI;
    background-color: gray;

}

.port h1{
    margin-bottom: 20px;
}

.port p{
    line-height: 25px;
    margin-bottom: 20px;
}

.port_container{
    flex-wrap: wrap;
    margin-top: 30px;

}

.projects{
  width: 25%;
  height: 300px;
  /* background-color: blue; */
  text-indent: 30px;
  display: flex;
  cursor: pointer;
overflow: hidden;
  
}

.projects h1:hover{
    height: 300px;
    transition: .4s;
}

.project_1{
    background-image: url(https://images.pexels.com/photos/46798/the-ball-stadion-football-the-pitch-46798.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}

.project_2{
    background-image: url(https://images.pexels.com/photos/1058959/pexels-photo-1058959.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    align-items: flex-end;
}

.project_3{
    background-image: url(https://images.pexels.com/photos/3631991/pexels-photo-3631991.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    
}

.project_4{
    background-image: url(https://images.pexels.com/photos/3786157/pexels-photo-3786157.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    align-items: flex-end;
}

.project_5{
    background-image: url(https://images.pexels.com/photos/2888355/pexels-photo-2888355.png?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
}

.project_6{
    background-image: url(https://images.pexels.com/photos/4162449/pexels-photo-4162449.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    align-items: flex-end;
}


.project_7{
    background-image: url(https://images.pexels.com/photos/256541/pexels-photo-256541.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
}

.project_8{
    background-image: url(https://images.pexels.com/photos/1389429/pexels-photo-1389429.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    align-items: flex-end;
}

.projects h1{
    color: white;
    width: 100%;
    background-color: rgba(18, 209, 216, .5);
    height: 100px;
    line-height: 150px;
}



/* CSS for footer */
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: blue; */
    background-color: rgba(18, 209, 216, 0.7);
    display: flex;
    justify-content: center;
}

.footer_child{
    height: 400px;
    width: 250%;
    
    /* background-color: aqua; */
    font-family: Segoe UI;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.f1{
    color: aliceblue;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

   
}

ul{
    margin-top: 40px;
}

li{
    list-style-type: none;
    margin-bottom: 10px;
    color: aliceblue;
}

.link_first{
     font-size: 20px;
}


.footer_contanier{
    justify-content: space-between;
    width: 70%;
    /* background-color: blue; */
    
}

.social_media{
    height: 60px;
    width: 88px;
    /* background-color: black; */
}


.s1{
    background-image: url(./img/facebook.png);
    background-size: cover;
}

.s2{
    background-image: url(./img/instagram.png);
    background-size: cover;
}

.s3{
    background-image: url(./img/linkedin.png);
    background-size: cover;
}

.s4{
    background-image: url(./img/youtube.png);
    background-size: cover;
}




